.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.box_timer {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  .circle_timer {
    width: 55%;
    display: flex;
    justify-content: center;

    .timer {
      .text {
        font-size: 2em;
      }
      .value {
        font-size: 3em;
      }
    }
  }
  .box_setting {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .custom {
      div {
        input {
          width: 20%;
          display: inline;
        }
      }
    }
    .quick {
      label {
        font-size: 20px;
      }

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
