// TODO 디자인 컨셉 다시 잡을 예정,
// 공통
$color_base: #101820;
$color_point: #fee715;
$color_calcel: #fcf6f5;
$color_alert: #a4193d;

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

#root {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
div {
  border-radius: 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

button {
  background-color: $color_base;
  color: $color_point;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: solid 1px $color_point;
  font-size: 1rem;

  &:hover {
    color: $color_base;
    background-color: $color_point;
    border: solid 1px $color_base;
  }
}

input[type="number"],
input[type="text"] {
  border: 1px solid $color_base;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;

  &:hover {
    border: 1px solid $color_point;
  }
}

// 그 외

.box_header {
  border-bottom: $color_base 6px double;
  border-top: $color_base 2px solid;
  border-radius: 0px;

  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5em;

  padding: 5px 15px;

  div:last-child {
    padding: 0px;
    margin: 0px;
    text-align: right;
    width: 10vw;
  }

  .box_btn {
    display: flex;
    justify-content: center;
    .btn_header {
      margin: 0px 5px;
      padding: 5px 15px;
    }
  }
}

.main {
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 90vw;
  height: 90vh;
}

.box_main {
  display: flex;
  height: 80vh;

  div {
    padding: 5px;
    flex: 1;
  }

  .box_dashboard {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    margin: 0 20px;
    div {
      width: 100%;
      flex: 1;
      border: solid 1px $color_alert;
    }
  }
  .box_menu {
    flex: 1;
    ul {
      padding: 0px 20px;
      li {
      }
    }
  }
}

.box_timer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  .circle_timer {
    flex: 1;
    display: flex;
    justify-content: center;

    .timer {
      text-align: center;
      .text {
        font-size: 2em;
      }
      .value {
        font-size: 3em;
      }
    }
  }
  .box_setting {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    .box_contoller {
      div {
        button {
          margin-right: 10px;
        }
      }
    }
    .custom {
      div {
        input {
          width: 20%;
          display: inline;
          margin-left: 5px;

          &:first-child {
            margin: 0px;
          }
        }
        button {
          width: 100%;
        }
      }
    }
    .quick {
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.box_error {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 100px;
    background-color: $color_calcel;

    h2 {
      border-bottom: 1px solid black;
    }

    p {
      font-size: 2rem;
    }
  }
}

.box_board_game {
  display: flex;
  justify-content: space-around;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-size: 1.25rem;
  height: 80vh;

  .box_suspect {
    flex: 1;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .box_place {
    flex: 1;

    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .box_tool {
    flex: 1;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .box_bubble {
    padding: auto 0px;
    text-align: center;
  }
}

.box_memo {
  font-size: 2em;
  .item-delete {
    text-decoration: line-through;
  }

  button {
    padding: 0px;
    margin-left: 10px;
  }

  .button-delete {
  }
}
